@import "vars.scss";
@import "animate.scss";

body {
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0);
	font-size: 120%;
	font-family: 'Roboto', $sans-fallback;
}

#canvas {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.land {
	width: 100%;
	height: 78vh;

	.container {
		width: 80%;
		max-width: 1095px;
		display: block;
		margin: 0 auto;
		margin-top: 15%;
		margin-bottom: 0;

		h1 {
			color: $primary;
			font-size: 3rem;
			font-weight: $lg;
			margin-bottom: 23px;
		}

		h2 {
			font-size: 1.45rem;
			font-weight: $sm;
			color: lighten($primary, 75%);
			margin-bottom: 30px;
		}

		p {
			max-width: 700px;
			font-size: $p-text;
			font-weight: $sm;
			line-height: 2.5rem;
			margin-bottom: 15px;
		}

		a {
			text-decoration: none;
			color: $primary;
			font-weight: $sm;
			display: inline;
			margin: 15px auto;
			transition: .2s ease-in-out;
			font-size: 1.45rem;

			&:first-of-type {
				margin-top: 40px;
			}

			&:hover {
				color: lighten($primary, 10%);
			}
		}

		.currently {
			color: $currently;
		}

		.previously {
			color: $previously;
		}

		.prev {
			color: lighten($primary, 75%);
			max-width: 530px;
		}

		.work {
			color: $work;
		}
	}
}

.project {
	width: 100%;
	height: auto;
	background-color: #f8faf7;
	overflow: hidden;
	position: relative;

	&:nth-child(2n+1) {
		background-color: white;
	}

	.container {
		width: 80%;
		max-width: 1095px;
		margin: 0 auto;
		margin-top: 100px;
		position: relative;
		display: flex;
		flex-grow: 1;

		.description {
			width: 600px;
			height: auto;
			max-width: 600px;
			//background-color: red; // Debug

			.text {
				@include vertical-align;
				margin-top: -50px;
			}

			.text-right {
				right: 0;
			}

			.right {
				text-align: right;
			}

			h1 {
				font-size: 3rem;
				font-weight: $lg;
				margin-bottom: 20px;
			}

			h2 {
				line-height: 2rem;
				margin-bottom: 40px;
				max-width: 470px;
			}

			a {
				text-decoration: none;
				color: $link-color;
				border-bottom: 2px rgba(0, 0, 0, 0) solid;			
				transition: .2s cubic-bezier(0.15, 0.62, 0.74, 1.04);
				padding-bottom: 10px;

				&:hover {
					color: darken($link-color, 30%);
					border-bottom: 2px darken($link-color, 30%) solid;
					padding-bottom: 3px;
				}
			}

			.right-link {
				//TODO: Make this thing aligned to the right
				margin-left: 350px;
			}		
		}

		.preview {
			width: 500px;
			//background-color: green; // Debug
			float: right;
		
			img {
				transform: translateY(4px);
				max-width: 500px;
			}
		}
	}
}

@import "mobile-front.scss"